body {
    background: darkcyan;
}

#entire-calc {
    border: 2px solid black;
    width: 32em;
    height: 35em;
    background: silver;
    border-radius: 10px;
    margin: 1em auto;
}

#display {
    background: white;
    border: 2px solid black;
    margin: 1em;
    height: 6em;
    border-radius: 10px;
}

#keys {
    border: 2px solid black;
    margin: 1em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 25em;
    justify-items: center;
    align-items: center;
    background: white;
}

.key {
    background: silver;
    border: 2px solid black;
    height: 1.5em;
    width: 1.5em;
    margin: 0.2em;
    text-align: center;
    padding: 0;
    line-height: 1.5;
    font-size: 2.5em;
}

#equal {
    height: 4em;
    line-height: 4;
    grid-area: 3 / 5 / 5 / 6;
}