body {
    background: darkcyan;
}

@font-face {
    font-family: 'Digital';
    src: url(Digital7-1e1Z.ttf);
}

#entire-calc {
    border: 2px solid #0c1d29;
    box-shadow: 0 5px 5px 3px #0e202d;
    width: 30em;
    min-height: 34em;
    background: #153348;
    border-radius: 10px;
    margin: 1em auto;
}

#display-screen {
    background: #d9fffd;
    border: 2px solid black;
    margin: 1em 1em 0.6em 1em;
    min-height: 6.5em;
    border-radius: 10px;
    font-family: 'Digital';
    user-select: none;
    text-align: end;
}

#bot-display {
    user-select: none;
    margin: 0.1em;
    font-size: 50px;
    min-height: 50px;
}

#top-display {
    margin: 0.1em;
    font-size: 35px;
    text-align: end;
    min-height: 35px;
}

#keys {
    margin: 0 0.9em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 25em;
    justify-items: center;
    align-items: center;
}

.key {
    background: silver;
    user-select: none;
    color: black;
    height: 1.9em;
    width: 1.9em;
    margin: 0;
    box-shadow: 0 3px black;
    text-align: center;
    padding: 0;
    line-height: 1.8;
    font-size: 2.5em;
    border-radius: 5px;
    font-family: 'Ramabhadra', sans-serif;
}

.key:hover {
    opacity: 0.85;
    cursor: pointer;
}

.key:active, .selected {
    opacity: 0.85;
    position: relative;
    top: 5px;
    box-shadow: none;
}

#clear, #del {
    background: #ff0000ba;
}

#add, #sub, #mul, #div {
    background: gray;
}

#equal {
    background: rgba(0, 206, 206, 0.82);
    height: 4.4em;
    line-height: 4;
    grid-area: 3 / 5 / 5 / 6;
}